#score {
  text-align: center;
}

#game {
  width: 600px;
  height: 300px;
  border: solid 2px black;
  margin: auto;
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/70/29/black-and-white-forest-game-background-landscape-vector-14067029.jpg");
  background-size: cover;
}